# Auto detect text files and perform LF normalization
* text=auto
Pods/GoogleToolboxForMac filter=lfs diff=lfs merge=lfs -text
Pods/GoogleUtilities filter=lfs diff=lfs merge=lfs -text
Pods/PromisesObjC filter=lfs diff=lfs merge=lfs -text
Pods/Protobuf filter=lfs diff=lfs merge=lfs -text
Pods/Target[[:space:]]Support[[:space:]]Files filter=lfs diff=lfs merge=lfs -text
Pods/FirebaseAnalytics filter=lfs diff=lfs merge=lfs -text
Pods/FirebaseInstallations filter=lfs diff=lfs merge=lfs -text
Pods/GoogleDataTransport filter=lfs diff=lfs merge=lfs -text
Pods/MLKitVision filter=lfs diff=lfs merge=lfs -text
Pods/GoogleMLKit filter=lfs diff=lfs merge=lfs -text
Pods/GoogleUserMessagingPlatform filter=lfs diff=lfs merge=lfs -text
Pods/GoogleUtilitiesComponents filter=lfs diff=lfs merge=lfs -text
Pods/Headers filter=lfs diff=lfs merge=lfs -text
Pods/Local[[:space:]]Podspecs filter=lfs diff=lfs merge=lfs -text
Pods/MLImage filter=lfs diff=lfs merge=lfs -text
Pods/Firebase filter=lfs diff=lfs merge=lfs -text
Pods/FirebaseCoreDiagnostics filter=lfs diff=lfs merge=lfs -text
Pods/nanopb filter=lfs diff=lfs merge=lfs -text
Pods/Manifest.lock filter=lfs diff=lfs merge=lfs -text
Pods/Pods.xcodeproj filter=lfs diff=lfs merge=lfs -text
Pods/Google-Mobile-Ads-SDK filter=lfs diff=lfs merge=lfs -text
Pods/GoogleAppMeasurement filter=lfs diff=lfs merge=lfs -text
Pods/MLKitBarcodeScanning filter=lfs diff=lfs merge=lfs -text
Pods/MLKitCommon filter=lfs diff=lfs merge=lfs -text
Pods/FirebaseCore filter=lfs diff=lfs merge=lfs -text
Pods/GTMSessionFetcher filter=lfs diff=lfs merge=lfs -text
.git/objects/58 filter=lfs diff=lfs merge=lfs -text
.git/objects/74 filter=lfs diff=lfs merge=lfs -text
.git/objects/80 filter=lfs diff=lfs merge=lfs -text
.git/objects/b8 filter=lfs diff=lfs merge=lfs -text
.git/objects/e1 filter=lfs diff=lfs merge=lfs -text
.git/objects/28 filter=lfs diff=lfs merge=lfs -text
.git/objects/4e filter=lfs diff=lfs merge=lfs -text
.git/objects/8b filter=lfs diff=lfs merge=lfs -text
.git/objects/9f filter=lfs diff=lfs merge=lfs -text
.git/objects/ae filter=lfs diff=lfs merge=lfs -text
.git/objects/ba filter=lfs diff=lfs merge=lfs -text
.git/objects/e5 filter=lfs diff=lfs merge=lfs -text
.git/objects/0f filter=lfs diff=lfs merge=lfs -text
.git/objects/13 filter=lfs diff=lfs merge=lfs -text
.git/objects/16 filter=lfs diff=lfs merge=lfs -text
.git/objects/53 filter=lfs diff=lfs merge=lfs -text
.git/objects/91 filter=lfs diff=lfs merge=lfs -text
.git/objects/bb filter=lfs diff=lfs merge=lfs -text
.git/objects/d1 filter=lfs diff=lfs merge=lfs -text
.git/objects/de filter=lfs diff=lfs merge=lfs -text
.git/objects/ef filter=lfs diff=lfs merge=lfs -text
.git/objects/3a filter=lfs diff=lfs merge=lfs -text
.git/objects/17 filter=lfs diff=lfs merge=lfs -text
.git/objects/39 filter=lfs diff=lfs merge=lfs -text
.git/objects/41 filter=lfs diff=lfs merge=lfs -text
.git/objects/b2 filter=lfs diff=lfs merge=lfs -text
.git/objects/info filter=lfs diff=lfs merge=lfs -text
.git/objects/19 filter=lfs diff=lfs merge=lfs -text
.git/objects/29 filter=lfs diff=lfs merge=lfs -text
.git/objects/3b filter=lfs diff=lfs merge=lfs -text
.git/objects/c3 filter=lfs diff=lfs merge=lfs -text
.git/objects/cb filter=lfs diff=lfs merge=lfs -text
.git/objects/d2 filter=lfs diff=lfs merge=lfs -text
.git/objects/72 filter=lfs diff=lfs merge=lfs -text
.git/objects/e2 filter=lfs diff=lfs merge=lfs -text
.git/objects/e6 filter=lfs diff=lfs merge=lfs -text
.git/objects/0d filter=lfs diff=lfs merge=lfs -text
.git/objects/2b filter=lfs diff=lfs merge=lfs -text
.git/objects/83 filter=lfs diff=lfs merge=lfs -text
.git/objects/d4 filter=lfs diff=lfs merge=lfs -text
.git/objects/30 filter=lfs diff=lfs merge=lfs -text
.git/objects/31 filter=lfs diff=lfs merge=lfs -text
.git/objects/60 filter=lfs diff=lfs merge=lfs -text
.git/objects/65 filter=lfs diff=lfs merge=lfs -text
.git/objects/69 filter=lfs diff=lfs merge=lfs -text
.git/objects/79 filter=lfs diff=lfs merge=lfs -text
.git/objects/a0 filter=lfs diff=lfs merge=lfs -text
.git/objects/a9 filter=lfs diff=lfs merge=lfs -text
.git/objects/aa filter=lfs diff=lfs merge=lfs -text
.git/objects/b1 filter=lfs diff=lfs merge=lfs -text
.git/objects/bc filter=lfs diff=lfs merge=lfs -text
.git/objects/fa filter=lfs diff=lfs merge=lfs -text
.git/objects/db filter=lfs diff=lfs merge=lfs -text
.git/objects/47 filter=lfs diff=lfs merge=lfs -text
.git/objects/50 filter=lfs diff=lfs merge=lfs -text
.git/objects/5a filter=lfs diff=lfs merge=lfs -text
.git/objects/67 filter=lfs diff=lfs merge=lfs -text
.git/objects/82 filter=lfs diff=lfs merge=lfs -text
.git/objects/86 filter=lfs diff=lfs merge=lfs -text
.git/objects/b0 filter=lfs diff=lfs merge=lfs -text
.git/objects/4f filter=lfs diff=lfs merge=lfs -text
.git/objects/76 filter=lfs diff=lfs merge=lfs -text
.git/objects/88 filter=lfs diff=lfs merge=lfs -text
.git/objects/8a filter=lfs diff=lfs merge=lfs -text
.git/objects/44 filter=lfs diff=lfs merge=lfs -text
.git/objects/02 filter=lfs diff=lfs merge=lfs -text
.git/objects/0a filter=lfs diff=lfs merge=lfs -text
.git/objects/98 filter=lfs diff=lfs merge=lfs -text
.git/objects/c7 filter=lfs diff=lfs merge=lfs -text
.git/objects/9d filter=lfs diff=lfs merge=lfs -text
.git/objects/ab filter=lfs diff=lfs merge=lfs -text
.git/objects/25 filter=lfs diff=lfs merge=lfs -text
.git/objects/06 filter=lfs diff=lfs merge=lfs -text
.git/objects/0b filter=lfs diff=lfs merge=lfs -text
.git/objects/18 filter=lfs diff=lfs merge=lfs -text
.git/objects/2d filter=lfs diff=lfs merge=lfs -text
.git/objects/52 filter=lfs diff=lfs merge=lfs -text
.git/objects/55 filter=lfs diff=lfs merge=lfs -text
.git/objects/00 filter=lfs diff=lfs merge=lfs -text
.git/objects/0e filter=lfs diff=lfs merge=lfs -text
.git/objects/26 filter=lfs diff=lfs merge=lfs -text
.git/objects/ee filter=lfs diff=lfs merge=lfs -text
.git/objects/63 filter=lfs diff=lfs merge=lfs -text
.git/objects/7f filter=lfs diff=lfs merge=lfs -text
.git/objects/fe filter=lfs diff=lfs merge=lfs -text
.git/objects/43 filter=lfs diff=lfs merge=lfs -text
.git/objects/68 filter=lfs diff=lfs merge=lfs -text
.git/objects/6f filter=lfs diff=lfs merge=lfs -text
.git/objects/77 filter=lfs diff=lfs merge=lfs -text
.git/objects/87 filter=lfs diff=lfs merge=lfs -text
.git/objects/a8 filter=lfs diff=lfs merge=lfs -text
.git/objects/cc filter=lfs diff=lfs merge=lfs -text
.git/objects/dc filter=lfs diff=lfs merge=lfs -text
.git/objects/e7 filter=lfs diff=lfs merge=lfs -text
.git/objects/f7 filter=lfs diff=lfs merge=lfs -text
.git/objects/pack filter=lfs diff=lfs merge=lfs -text
.git/objects/2e filter=lfs diff=lfs merge=lfs -text
.git/objects/be filter=lfs diff=lfs merge=lfs -text
.git/objects/c8 filter=lfs diff=lfs merge=lfs -text
.git/objects/20 filter=lfs diff=lfs merge=lfs -text
.git/objects/2f filter=lfs diff=lfs merge=lfs -text
.git/objects/e8 filter=lfs diff=lfs merge=lfs -text
.git/objects/21 filter=lfs diff=lfs merge=lfs -text
.git/objects/3d filter=lfs diff=lfs merge=lfs -text
.git/objects/a7 filter=lfs diff=lfs merge=lfs -text
.git/objects/fc filter=lfs diff=lfs merge=lfs -text
.git/objects/42 filter=lfs diff=lfs merge=lfs -text
.git/objects/92 filter=lfs diff=lfs merge=lfs -text
.git/objects/9e filter=lfs diff=lfs merge=lfs -text
.git/objects/a3 filter=lfs diff=lfs merge=lfs -text
.git/objects/d0 filter=lfs diff=lfs merge=lfs -text
.git/objects/da filter=lfs diff=lfs merge=lfs -text
.git/objects/07 filter=lfs diff=lfs merge=lfs -text
.git/objects/1e filter=lfs diff=lfs merge=lfs -text
.git/objects/40 filter=lfs diff=lfs merge=lfs -text
.git/objects/af filter=lfs diff=lfs merge=lfs -text
.git/objects/b7 filter=lfs diff=lfs merge=lfs -text
.git/objects/c5 filter=lfs diff=lfs merge=lfs -text
.git/objects/ce filter=lfs diff=lfs merge=lfs -text
.git/objects/f0 filter=lfs diff=lfs merge=lfs -text
.git/objects/48 filter=lfs diff=lfs merge=lfs -text
.git/objects/9c filter=lfs diff=lfs merge=lfs -text
.git/objects/e4 filter=lfs diff=lfs merge=lfs -text
.git/objects/1b filter=lfs diff=lfs merge=lfs -text
.git/objects/01 filter=lfs diff=lfs merge=lfs -text
.git/objects/1a filter=lfs diff=lfs merge=lfs -text
.git/objects/1f filter=lfs diff=lfs merge=lfs -text
.git/objects/62 filter=lfs diff=lfs merge=lfs -text
.git/objects/8f filter=lfs diff=lfs merge=lfs -text
.git/objects/03 filter=lfs diff=lfs merge=lfs -text
.git/objects/0c filter=lfs diff=lfs merge=lfs -text
.git/objects/23 filter=lfs diff=lfs merge=lfs -text
.git/objects/5d filter=lfs diff=lfs merge=lfs -text
.git/objects/64 filter=lfs diff=lfs merge=lfs -text
.git/objects/7b filter=lfs diff=lfs merge=lfs -text
.git/objects/a6 filter=lfs diff=lfs merge=lfs -text
.git/objects/8d filter=lfs diff=lfs merge=lfs -text
.git/objects/a2 filter=lfs diff=lfs merge=lfs -text
.git/objects/d5 filter=lfs diff=lfs merge=lfs -text
.git/objects/f9 filter=lfs diff=lfs merge=lfs -text
.git/objects/3f filter=lfs diff=lfs merge=lfs -text
.git/objects/45 filter=lfs diff=lfs merge=lfs -text
.git/objects/5e filter=lfs diff=lfs merge=lfs -text
.git/objects/66 filter=lfs diff=lfs merge=lfs -text
.git/objects/75 filter=lfs diff=lfs merge=lfs -text
.git/objects/8c filter=lfs diff=lfs merge=lfs -text
.git/objects/90 filter=lfs diff=lfs merge=lfs -text
.git/objects/a5 filter=lfs diff=lfs merge=lfs -text
.git/objects/b5 filter=lfs diff=lfs merge=lfs -text
.git/objects/e3 filter=lfs diff=lfs merge=lfs -text
.git/objects/56 filter=lfs diff=lfs merge=lfs -text
.git/objects/54 filter=lfs diff=lfs merge=lfs -text
.git/objects/6b filter=lfs diff=lfs merge=lfs -text
.git/objects/33 filter=lfs diff=lfs merge=lfs -text
.git/objects/4b filter=lfs diff=lfs merge=lfs -text
.git/objects/ac filter=lfs diff=lfs merge=lfs -text
.git/objects/09 filter=lfs diff=lfs merge=lfs -text
.git/objects/4a filter=lfs diff=lfs merge=lfs -text
.git/objects/5c filter=lfs diff=lfs merge=lfs -text
.git/objects/8e filter=lfs diff=lfs merge=lfs -text
.git/objects/78 filter=lfs diff=lfs merge=lfs -text
.git/objects/bd filter=lfs diff=lfs merge=lfs -text
.git/objects/f6 filter=lfs diff=lfs merge=lfs -text
.git/objects/04 filter=lfs diff=lfs merge=lfs -text
.git/objects/51 filter=lfs diff=lfs merge=lfs -text
.git/objects/95 filter=lfs diff=lfs merge=lfs -text
.git/objects/9a filter=lfs diff=lfs merge=lfs -text
.git/objects/ad filter=lfs diff=lfs merge=lfs -text
.git/objects/c1 filter=lfs diff=lfs merge=lfs -text
.git/objects/ea filter=lfs diff=lfs merge=lfs -text
.git/objects/99 filter=lfs diff=lfs merge=lfs -text
.git/objects/9b filter=lfs diff=lfs merge=lfs -text
.git/objects/e9 filter=lfs diff=lfs merge=lfs -text
.git/objects/f4 filter=lfs diff=lfs merge=lfs -text
.git/objects/f8 filter=lfs diff=lfs merge=lfs -text
.git/objects/15 filter=lfs diff=lfs merge=lfs -text
.git/objects/a1 filter=lfs diff=lfs merge=lfs -text
.git/objects/b3 filter=lfs diff=lfs merge=lfs -text
.git/objects/10 filter=lfs diff=lfs merge=lfs -text
.git/objects/b6 filter=lfs diff=lfs merge=lfs -text
.git/objects/cf filter=lfs diff=lfs merge=lfs -text
.git/objects/38 filter=lfs diff=lfs merge=lfs -text
.git/objects/b4 filter=lfs diff=lfs merge=lfs -text
.git/objects/c2 filter=lfs diff=lfs merge=lfs -text
.git/objects/df filter=lfs diff=lfs merge=lfs -text
.git/objects/f1 filter=lfs diff=lfs merge=lfs -text
.git/objects/27 filter=lfs diff=lfs merge=lfs -text
.git/objects/32 filter=lfs diff=lfs merge=lfs -text
.git/objects/d7 filter=lfs diff=lfs merge=lfs -text
.git/objects/f2 filter=lfs diff=lfs merge=lfs -text
.git/objects/f5 filter=lfs diff=lfs merge=lfs -text
.git/objects/4c filter=lfs diff=lfs merge=lfs -text
.git/objects/96 filter=lfs diff=lfs merge=lfs -text
.git/objects/7e filter=lfs diff=lfs merge=lfs -text
.git/objects/c6 filter=lfs diff=lfs merge=lfs -text
.git/objects/ed filter=lfs diff=lfs merge=lfs -text
.git/objects/3e filter=lfs diff=lfs merge=lfs -text
.git/objects/c9 filter=lfs diff=lfs merge=lfs -text
.git/objects/37 filter=lfs diff=lfs merge=lfs -text
.git/objects/6e filter=lfs diff=lfs merge=lfs -text
.git/objects/71 filter=lfs diff=lfs merge=lfs -text
.git/objects/fd filter=lfs diff=lfs merge=lfs -text
.git/objects/61 filter=lfs diff=lfs merge=lfs -text
.git/objects/93 filter=lfs diff=lfs merge=lfs -text
.git/objects/bf filter=lfs diff=lfs merge=lfs -text
.git/objects/dd filter=lfs diff=lfs merge=lfs -text
.git/objects/f3 filter=lfs diff=lfs merge=lfs -text
.git/objects/5b filter=lfs diff=lfs merge=lfs -text
.git/objects/12 filter=lfs diff=lfs merge=lfs -text
.git/objects/22 filter=lfs diff=lfs merge=lfs -text
.git/objects/3c filter=lfs diff=lfs merge=lfs -text
.git/objects/4d filter=lfs diff=lfs merge=lfs -text
.git/objects/6c filter=lfs diff=lfs merge=lfs -text
.git/objects/97 filter=lfs diff=lfs merge=lfs -text
.git/objects/14 filter=lfs diff=lfs merge=lfs -text
.git/objects/57 filter=lfs diff=lfs merge=lfs -text
.git/objects/59 filter=lfs diff=lfs merge=lfs -text
.git/objects/7c filter=lfs diff=lfs merge=lfs -text
.git/objects/fb filter=lfs diff=lfs merge=lfs -text
.git/objects/11 filter=lfs diff=lfs merge=lfs -text
.git/objects/35 filter=lfs diff=lfs merge=lfs -text
.git/objects/7d filter=lfs diff=lfs merge=lfs -text
.git/objects/89 filter=lfs diff=lfs merge=lfs -text
.git/objects/c4 filter=lfs diff=lfs merge=lfs -text
.git/objects/d6 filter=lfs diff=lfs merge=lfs -text
.git/objects/e0 filter=lfs diff=lfs merge=lfs -text
.git/objects/ff filter=lfs diff=lfs merge=lfs -text
.git/objects/1c filter=lfs diff=lfs merge=lfs -text
.git/objects/46 filter=lfs diff=lfs merge=lfs -text
.git/objects/70 filter=lfs diff=lfs merge=lfs -text
.git/objects/c0 filter=lfs diff=lfs merge=lfs -text
.git/objects/2a filter=lfs diff=lfs merge=lfs -text
.git/objects/34 filter=lfs diff=lfs merge=lfs -text
.git/objects/36 filter=lfs diff=lfs merge=lfs -text
.git/objects/eb filter=lfs diff=lfs merge=lfs -text
.git/objects/24 filter=lfs diff=lfs merge=lfs -text
.git/objects/73 filter=lfs diff=lfs merge=lfs -text
.git/objects/85 filter=lfs diff=lfs merge=lfs -text
.git/objects/94 filter=lfs diff=lfs merge=lfs -text
.git/objects/d3 filter=lfs diff=lfs merge=lfs -text
.git/objects/d8 filter=lfs diff=lfs merge=lfs -text
.git/objects/6d filter=lfs diff=lfs merge=lfs -text
.git/objects/08 filter=lfs diff=lfs merge=lfs -text
.git/objects/1d filter=lfs diff=lfs merge=lfs -text
.git/objects/49 filter=lfs diff=lfs merge=lfs -text
.git/objects/6a filter=lfs diff=lfs merge=lfs -text
.git/objects/b9 filter=lfs diff=lfs merge=lfs -text
.git/objects/7a filter=lfs diff=lfs merge=lfs -text
.git/objects/81 filter=lfs diff=lfs merge=lfs -text
.git/objects/84 filter=lfs diff=lfs merge=lfs -text
.git/objects/ca filter=lfs diff=lfs merge=lfs -text
.git/objects/ec filter=lfs diff=lfs merge=lfs -text
.git/objects/05 filter=lfs diff=lfs merge=lfs -text
.git/objects/a4 filter=lfs diff=lfs merge=lfs -text
.git/objects/d9 filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
