<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401751726255-p7or8i3p2nfbtjrkn984oio6cf2dpl0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401751726255-p7or8i3p2nfbtjrkn984oio6cf2dpl0h</string>
	<key>API_KEY</key>
	<string>AIzaSyAmH_vAYyMa1LZV8Tt6bsznFuwjlcNWGho</string>
	<key>GCM_SENDER_ID</key>
	<string>401751726255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woodyLiu.RealNameRegistraionBook</string>
	<key>PROJECT_ID</key>
	<string>realnameregistrationbook</string>
	<key>STORAGE_BUCKET</key>
	<string>realnameregistrationbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401751726255:ios:0f6e7fa6a01b794f245c5a</string>
</dict>
</plist>